@import "./ilw-colors.css";

ilw-card {
    a:not(.ilw-button):not(.ilw-buttons a) {
        color: var(--ilw-color--link);
        &:is(:hover, [data-simulated-hover]) {
            color: var(--ilw-color--link-hover);
        }
        &:focus-visible {
            color: var(--ilw-color--focus--text);
            background-color: var(--ilw-color--focus--background);
            outline: var(--ilw-color--focus--outline);
        }
        &:hover {
            color: var(--ilw-color--link-hover);
        }
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
        color: var(--ilw-color--heading);
        font-size: var(--ilw-card--heading--font-size);

        &:first-of-type {
            margin-top: 0;
        }
    }

    &[clickable] {
        border-bottom: 4px solid var(--ilw-color--control-accent);
        cursor: pointer;

        h2,
        h3,
        h4,
        h5,
        h6 {
            a {
                color: var(--ilw-color--heading);
                font-size: var(--ilw-card--clickable--heading-size);
                text-decoration: none;
                display: inline-block;
                padding-right: 1.5em;
                position: relative;
                vertical-align: middle;

                &:focus {
                    color: var(--ilw-color--focus--text);
                    background-color: var(--ilw-color--focus--background);
                    outline: var(--ilw-color--focus--outline);
                }

                &::after {
                    content: "»";
                    display: block;
                    position: absolute;
                    right: 0;
                    font-size: 2em;
                    height: 0.5em;
                    overflow: hidden;
                    line-height: 0.5;
                    top: calc(50% - 0.25em - 2px);
                    font-weight: normal;
                }
            }
        }

        &:is(:hover, [data-simulated-hover]) {
            border-bottom-color: var(--ilw-color--link);
            background: var(--ilw-color--control-text);
            color: var(--ilw-color--control);

            a:not(.ilw-button):not(.ilw-buttons a) {
                color: var(--ilw-color--control);
                &:is(:hover, [data-simulated-hover]) {
                    color: var(--ilw-color--control-accent);
                }
                &:focus {
                    color: var(--ilw-color--focus--text);
                    background-color: var(--ilw-color--focus--background);
                    outline: var(--ilw-color--focus--outline);
                }
            }

            h2,
            h3,
            h4,
            h5,
            h6 {
                color: var(--ilw-color--control-accent-text);
                a {
                    color: var(--ilw-color--control-accent-text);
                    &:is(:hover, [data-simulated-hover]) {
                        color: var(--ilw-color--control-accent-text);
                    }
                    &:focus {
                        color: var(--ilw-color--focus--text);
                        background-color: var(--ilw-color--focus--background);
                        outline: var(--ilw-color--focus--outline);
                    }
                }
            }

            &[theme="blue"], &[theme="blue-gradient"], &[theme="orange"], &[theme="orange-gradient"] {
                --ilw-color--background: #ffffff;
                --ilw-color--text: var(--il-storm-10);
                --ilw-color--link: var(--il-industrial);
                --ilw-color--link-hover: var(--il-altgeld);
                --ilw-color--heading: var(--il-blue);
                --ilw-color--heading-link: var(--il-blue);
                --ilw-color--heading-link-hover: var(--il-altgeld);
                --ilw-color--control: var(--il-storm-10);
                --ilw-color--control-text: #ffffff;
                --ilw-color--control-accent: var(--il-altgeld);
                --ilw-color--control-accent-text: var(--il-orange);
            }
        }
    }

    > [slot=image] {
        img {
            display: block;
        }
    }
}

/* Make il icons color currentColor in cards */
ilw-card path.cls-1 {
    fill: currentColor;
}
